html {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: auto;
}

body {
	background-color: #b8d7e7;
	height: 100%;
	margin: 0;
	padding: 0;
	letter-spacing: 0.2pt;
}

h4, h3, h2, h1, label {
	color: #2c5475;
}