.huge {
    font-size: 40px;
}
.panel-green {
    border-color: #5cb85c;
}
.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}
.panel-green a {
    color: #5cb85c;
}
.panel-green a:hover {
    color: #3d8b3d;
}
.panel-red {
    border-color: #d9534f;
}
.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}
.panel-red a {
    color: #d9534f;
}
.panel-red a:hover {
    color: #b52b27;
}
.panel-yellow {
    border-color: #CA7500;
}
.panel-yellow .panel-heading {
    border-color: #CA7500;
    color: #fff;
    background-color: #CA7500;
}
.panel-yellow a {
    color: #CA7500;
}
.panel-yellow a:hover {
    color: #df8a13;
}
.panel-laranja {
    border-color: #ffbb5f9c;
}
.panel-laranja .panel-heading {
    border-color: #ffbb5f9c;
    color: #CA7500;
    background-color: #ffbb5f9c;
}
.panel-laranja a {
    color: #ffbb5f9c;
}
.panel-laranja a:hover {
    color: #FFAC3A;
}